<ng-container *ngIf="!isLoading">
    <div class="col-1">
        <div class="first-slot"></div>
        <div class="hours">
            <div *ngFor="let hour of dayHours; index as i" class="hour-slot">
                <div class="hour-slot-label">
                    {{ hour | date: 'h aa' }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="col-2-header">
            <div *ngFor="let day of weekDays" class="col-2-tile">
                <p>{{ day | date:'EEE' }}</p>
                <p>{{ day | date:'dd' }}</p>
            </div>
        </div>
        <div class="col-2-grid">
            <div class="col-2-list" *ngFor="let weekDay of weekDays">
                <ac-event-list *ngFor="let startHour of dayHours; index as i"
                    [startDate]="mergeDayAndHour(weekDay, startHour)"
                    [endDate]="mergeDayAndHour(updateIfLastDay(i, weekDay), getSlotEndHour(i))">
                </ac-event-list>
            </div>
        </div>
    </div>
</ng-container>
