<ng-container *ngIf="!isLoading">
    <div class="month-days">
        <div class="mont-days-tile" *ngFor="let day of weekDays">
            <p>{{ day | date:'EEE' }}</p>
        </div>
    </div>
    <div class="month-grid">
        <div class="month-day-wrapper"
            *ngFor="let day of squaredMonthDays; index as i">
            <div class="month-day-header">
                {{ day.getDate() }}
            </div>
            <ac-event-list [startDate]="day"
                [endDate]="getEndDate(day, i)"></ac-event-list>
        </div>
    </div>
</ng-container>
