mat-grid-list .mat-grid-list .days {
  padding-bottom: calc(100% - 50px) !important;

  mat-grid-tile .mat-grid-tile-content {
    align-items: start !important;
    justify-content: left !important;
  }
}

.month-days {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  .mont-days-tile {
    text-transform: uppercase;
    text-align: center;
    line-height: 3em;
    border-left: 0.1em solid grey;
  }
}

.month-grid {
  height: calc(100% - 50px);
  display: grid;
  grid-template-columns: repeat(7, minmax(50px, 1fr));
  grid-auto-rows: minmax(2em, 1fr);
}
