.month-days {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  .mont-days-tile {
    text-transform: uppercase;
    text-align: center;
    line-height: 3em;
  }
}

.month-grid {
  height: calc(100% - 50px);
  display: grid;
  grid-template-columns: repeat(7, minmax(50px, 1fr));
  grid-auto-rows: minmax(2em, 1fr);
}
