<ac-nav (toggledMenu)="onToggled()"
    [disabledButton]="drawerMode === 'side'"></ac-nav>
<mat-drawer-container autosize>
    <mat-drawer #drawer [mode]="drawerMode" [opened]="drawerOpened"
        class="ac-drawer">
        <div class="mat-drawer-inner">
            <button mat-fab extended color="primary" routerLink="event/new">
                <mat-icon>add</mat-icon>
                <h3>Create</h3>
            </button>
            <mat-calendar [selected]="selected | async"
                (selectedChange)="onSelectedDateChange($event)">
            </mat-calendar>
            <span *ngIf="!configs.isInProduction" class="version">version:
                {{configs.version}}</span>
        </div>
    </mat-drawer>
    <router-outlet></router-outlet>
</mat-drawer-container>
<div class="spinner-overlay" *ngIf="appIsLoading | async">
    <mat-spinner></mat-spinner>
</div>
