<mat-toolbar color="primary">
    <span>Mega Event</span>
    <span [style.flex]="'1 1 auto'"></span>
    <button mat-icon-button (click)="onEdit()">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>delete</mat-icon>
    </button>
</mat-toolbar>
<div class="dialog-content">
    <div>
        <p>
            Start on: Mon 10 at 20:30
        </p>
        <p>
            Ends on: Mon 10 at 20:30
        </p>
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius provident
        harum inventore officia maiores quo similique nihil itaque ipsa sequi
        suscipit sunt est laudantium earum exercitationem ut maxime voluptatibus
        minima facere dignissimos a, deleniti, soluta debitis quasi. Rem
        repellat voluptatum quos ipsa laboriosam, corrupti iste quaerat enim
        veritatis possimus at quia fuga accusamus facere commodi exercitationem,
        alias ratione quo odit maiores molestiae! Quidem ducimus quaerat nostrum
        deleniti maxime, dolores esse labore saepe adipisci, animi temporibus
        repellendus. Iusto alias ab, labore aliquam sapiente error. Labore rerum
        excepturi doloremque culpa quaerat nostrum magnam omnis debitis vitae
        quo nisi quia amet, ipsa assumenda velit magni natus at facilis sapiente
        dolore fugit voluptates! Tempora, perferendis amet itaque eos inventore
        ullam nulla sunt, ducimus tenetur sequi molestias eum iste veniam minima
        cumque enim! Enim qui rerum commodi sint alias ratione rem provident
        assumenda reprehenderit quidem magnam perspiciatis, voluptatem labore
        minus quis quos eveniet! Quae temporibus doloribus iure quaerat
        pariatur, dolor porro soluta cupiditate ratione quidem commodi natus
        molestiae dolores consequuntur, atque illum fugit nisi aperiam dolorum
        perspiciatis laudantium odit. Modi aliquid voluptates amet delectus,
        magni quae soluta asperiores, obcaecati vel quasi voluptatibus cumque
        quod ducimus hic reiciendis maiores nulla, dolorum debitis inventore
        quaerat. Totam aut distinctio exercitationem? Quibusdam repellat
        suscipit veniam quasi qui. Numquam, sit nulla dicta magni facere
        consectetur corporis doloribus at facilis eum vitae natus voluptatum
        eligendi dolore velit. Ipsum recusandae alias porro accusantium natus
        beatae laudantium cupiditate. Aperiam omnis officia voluptatum, incidunt
        ut placeat? Voluptatibus excepturi cupiditate consequatur sunt minima
        nisi veniam nostrum porro ullam iure ea soluta ad at tempora quis
        repellendus, rem reprehenderit tempore ipsam cumque, possimus, impedit
        fugit. Hic inventore nesciunt dolorem fugit sit veritatis placeat
        excepturi ratione vitae reprehenderit molestias quod repellat harum
        obcaecati, dicta, incidunt doloribus eos facere consequatur at
        quibusdam! Accusantium odit nihil exercitationem distinctio facilis.
    </div>

</div>
