<div class="col-1" *ngIf="!isLoading">
    <div class="first-slot"></div>
    <div class="hours">
        <div *ngFor="let hour of dayHours; index as i" class="hour-slot">
            <div class="hour-slot-label">
                {{ hour | date: 'h aa' }}
            </div>
        </div>
    </div>
</div>
<div class="col-2">
    <div class="col-2-header">
        <div class="col-2-tile">
            <p>{{ selectedDate | date: 'ccc' }}</p>
            <p>{{ selectedDate | date: 'd' }}</p>
        </div>
    </div>
    <div class="col-2-list">
        <ac-event-list *ngFor="let startHour of dayHours; index as i"
            [startDate]="startHour" [endDate]="getSlotEndHour(i)">
        </ac-event-list>
    </div>
</div>
