@import '../../styles/breakpoints.scss';

mat-card {
  width: 60%;
  min-width: 630px;
  margin: 5em auto;
  padding: 2em 0;

  mat-card-actions,
  mat-card-content,
  mat-card-title {
    padding-left: 2em;
    padding-right: 2em;
  }

  mat-card-title {
    mat-form-field {
      font-size: 3em;
      width: 100%;
    }
  }

  mat-card-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    margin: 2em 0;

    :nth-child(5) {
      grid-row: 2 / 4;
      grid-column: 1/5;

      textarea {
        min-height: 7em;
      }
    }
  }

  mat-card-actions {
    justify-content: space-between;

    button {
      font-size: 1.5em;
      padding: 1em 2em;
    }
  }
}

@include devices('mobile') {
  mat-card {
    width: 80%;
    min-width: 300px;

    mat-card-title {
      mat-form-field {
        font-size: 1.75em;
      }
    }

    mat-card-content {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);

      :nth-child(5) {
        grid-row: span 2;
        grid-column: 1;
      }
    }

    mat-card-actions {
      button {
        font-size: 1.2em;
        padding: 0.5em 1.3em;
      }
    }
  }
}
