// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$another-calendar-primary: mat.define-palette(mat.$indigo-palette);
$another-calendar-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$another-calendar-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$another-calendar-theme: mat.define-light-theme(
  (
    color: (
      primary: $another-calendar-primary,
      accent: $another-calendar-accent,
      warn: $another-calendar-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($another-calendar-theme);

/* You can add global styles to this file, and also import other style files */
@import 'src/styles/ac-color-getter';
@import 'src/styles/material-color-getter';

@import 'src/styles/ac-mat-form-field';
@include ac-mat-form-field($another-calendar-theme);

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

$foreground: map-get($another-calendar-theme, foreground);
$foreground-text: map-get($foreground, text);

ac-event-chip {
  mat-card {
    background-color: material-color-getter($another-calendar-theme, primary) !important;
    color: ac-color-getter($another-calendar-theme, white);
  }
}
