<mat-toolbar color="primary">
    <span>{{data.event.title}}</span>
    <span [style.flex]="'1 1 auto'"></span>
    <button mat-icon-button (click)="onEdit()">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="onDelete()">
        <mat-icon>delete</mat-icon>
    </button>
</mat-toolbar>
<div class="dialog-content">
    <div>
        <p>
            Start on: {{data.event.startDateTime | date: 'short'}}
        </p>
        <p>
            Ends on: {{data.event.endDateTime | date: 'short'}}
        </p>
    </div>
    <div>
        {{data.event.content}}
    </div>

</div>
